@import 'base';
em{
      font-style: normal;
}
body{
      background: #F4F4F4;
}
.container-fluid{
      height: 900px;
      background: url(img/head/home.jpg);
      position: relative;
      .name{
            @include rectangle(60px,100px);
            position: fixed;
            top:100px;
            left:60px;
            z-index: 9999;
            span{
                  display: block;
                  font-size: 40px;
                  font-weight: 500;
                  text-align: bottom;
                  color:#46349A;
                  cursor: pointer;
            }
      }
      .moto{
            @include rectangle(646px,184px);
            position: absolute;
            top: 280px;
            left: 257px;
            span{
                  @include rectangle(auto,50%);
                  display: block;
                  text-align: center;
                  font-size: 60px;
                  font-weight: 600;
                  color:#fff;
                  float:left;
                  margin-right: 20px;
                  &:nth-of-type(1){animation:top .8s ease forwards 0.2s;
                                 transform: translateY(1000px);
                  };
                  &:nth-of-type(2){animation:left .8s ease forwards 0.3s;
                                 transform: translateX(-1000px);
                  };
                  &:nth-of-type(3){
                        animation:right .8s ease forwards 0.4s;
                        transform: translateX(-1000px);
                        @include rectangle(auto,50%);
                        margin-left: 90px;
                  };
            }
            em{
                  @include rectangle(50%,50%);
                  display: block;
                  font-size: 60px;
                  font-weight: 600;
                  color:#fff;
                  float: left;
                  animation:bottom .8s ease forwards 0.5s;
                  transform: translateX(1000px);
            }
      }
      .moto-nav.color1{
              background:rgb(129, 101, 166);
            }
       .moto-nav.color2{
              background:rgb(115, 194, 213);
            }
       .moto-nav.color3{
              background:rgb(121, 123, 123);
            }
       .moto-nav.color4{
              background:rgb(30, 162, 224);
            }  
       .moto-nav.color5{
              background:rgb(63, 81, 181);
            }   
      .moto-nav{
            animation:diaoluo .8s ease forwards;
            transform:translateY(-100%);
            @include rectangle(364px,510px);
            background: #D83F87;
            position: absolute;
            top:0;
            right: 120px;

            .element{
                  @include rectangle(82px,136px);
                  position: absolute;
                  bottom: 150px;
                  left:80px;
                  li{
                        @include rectangle(100%,34px);
                        float:left;
                        a{
                              display: block;
                              text-align: left;
                              line-height: 34px;
                              font-weight: 500;
                              font-size: 20px;
                              color:#fff;
                              text-decoration: none;
                              &::before{
                                    display:block;
                                    content: "";
                                    background: #fff;
                                    left:5px;
                                    bottom: 6px;
                                    position: absolute;
                                    width: 20px;
                                    height: 1px;
                                    opacity: 0;
                                    transition:all 0.8s ease;
                              };
                        }
                        &:hover{
                              a{
                                    &::before{
                                          left:-25px;
                                          opacity: 1;
                                    };
                              }
                        };
                  }
            }
      }
}
@keyframes diaoluo {
  0%{
    transform: translateY(-100%);
    opacity: 0;
  }
  100%{
    transform:translateY(0);
    opacity: 1;
  }
}
@keyframes top {
  0%{
    transform: translateY(-1000px);
    opacity: 0;
  }
  100%{
    transform:translateY(0);
    opacity: 1;
  }
}
@keyframes right {
  0%{
    transform: translateX(-1000px);
    opacity: 0;
  }
  100%{
    transform:translateX(0);
    opacity: 1;
  }
}
@keyframes left {
  0%{
    transform: translateX(1000px);
    opacity: 0;
  }
  100%{
    transform:translateX(0);
    opacity: 1;
  }
}
@keyframes bottom {
  0%{
    transform: translateY(1000px);
    opacity: 0;
  }
  100%{
    transform:translateY(0);
    opacity: 1;
  }
}
@keyframes zhuan {
  0%{
    transform: rotateY(180deg);
  }
  %45{
    transform: rotateY(0deg);
  }
  50%{
    transform:rotateY(180deg);
  }
  95%{
    transform:rotateY(0deg);
  }
  100%{
    transform:rotateY(0deg);
  }
}
/*$number:5;
$colors:#8165A6,#73C2D5,#797B7B,#1EA2E0,pink;
@for $i from 1 through $number {
      .container-fluid .moto-nav .element li:hover .moto-nav{
            background :nth($colors,$i);
      }
}*/
.container{
      height: 700px;
      position: relative;
      top:-200px;
      .content{
            @include rectangle(100%,632px);
            position: relative;
            .music{
                  @include rectangle(530px,299px);
                  background: url(img/IMG_20151230_163616.jpg);
                  background-repeat: no-repeat;
                  background-size: 50% 150%;
                  background-position: center;
                  position: absolute;
                  border-radius: 50%;
                  z-index: 10;
                  top:-150px;
                  left:136px;
            }
            .resume{
                  @include rectangle(706px,632px)
                  background: #fff;
                  float:left;
                  margin-left: 50px;
                  h2{
                        display: block;
                        @include rectangle(100%,80px);
                        font-size: 40px;
                        font-weight: 500;
                        color:#333;
                        padding-left: 20px;
                        box-sizing:border-box;
                        line-height: 80px;
                        top:150px;
                        float:left;
                  }
                  p{
                        display: block;
                        @include rectangle(100%,200px);
                        float:left;
                        padding-left: 70px;
                        padding-right: 70px;
                        font-size: 18px;
                        font-weight: 300;
                        color:#AFAFAF;
                        top:200px;
                        line-height: 34px;

                  }
            }
            .idear{
                  @include rectangle(363.8px,531px);
                  background: #8165a6;
                  float:left;
                  top:100px;
                  h3{
                    animation:zhuan .8s ease 0.5s both alternate infinite;
                    display: block;
                    @include cube(180px);
                    color:#fff;
                    text-align: center;
                    line-height: 60px;
                    font-weight: 600;
                    font-size: 40px;
                    margin:auto;
                    margin-top:100px;
                  }
                  .music1{
                    @include rectangle(230px,96px);
                    margin-left:65px;
                    margin-top: 65px;
                    a{
                      @include rectangle(100%,100%)
                      display: block;
                      background: url(img/head/2016-06-14_144844.png);
                      background-size: 100%;
                      background-repeat: no-repeat;
                      background-position: center;
                    }
                  }
            }
      }
}
.carousel-caption{
  .title1{
    @include rectangle(600px,300px);
    @include zuoyou;
    bottom:120px;
    text-align: center;
    font-size: 40px;
  }
  .hezi{
    &:before{
      display:block;
      content: "";
      background: url(img/head/1.png)no-repeat;
      background-size: cover;
      background-position: center center;
      width: 30px;
      height: 10px;
      @include shangxia;
      margin-left: 20px;
      opacity: 0.8;
    };
    @include rectangle(165px,41px);
    @include zuoyou;
    bottom: 160px;
    cursor: pointer;
    border-radius: 20px;
    border:1px solid rgba(113,113,113,.6);
    &:hover{
      border:1px solid #fff;
      a{
        color:#fff;
      }
    };
    a{
      display: block;
      font-size: 12px;
      text-align: center;
      line-height: 40px;
      color:#ccc;
      text-decoration: none;
    }
  }
}
.carousel-inner .item{
  background: url(img/head/4.png);
}
.zuopin {
   @include rectangle(1070px,auto);
   @include zuoyou;
   position: relative;
   margin-top: -100px;
   h2{
    display: block;
    @include rectangle(100%,145px);
    float:left;
    text-align: center;
    font-size: 24px;
    color:#BABABA;
    font-weight: 600;
    background: #F4F4F4;
    line-height: 100px;
   }
   div{
    cursor:pointer;
    &:nth-of-type(1){
      background: url(img/head/23I58PICedS.jpg)no-repeat center;
      background-size: 100%;
    };
     &:nth-of-type(2){
      background: url(img/head/60x58PICnMh.jpg)no-repeat center;
      background-size: 100%;
    };
    &:nth-of-type(3){
      background: url(img/head/30458PICb3X.jpg)no-repeat center;
      background-size: cover;
    };
    &:nth-of-type(4){
      background: url(img/head/5675e4c666cc1_1024.jpg)no-repeat center;
      background-size: 100%;
    };
    &:nth-of-type(5){
      background: url(img/head/17k58PIC68Y.jpg)no-repeat center;
      background-size: 100%;
    };
    &:nth-of-type(6){
      background: url(img/head/2016-06-14_142640.png)no-repeat center;
      background-size: 100%;
    };
    
    height: 317px;
    border-top:4px solid #fff;
    border-right:4px solid #fff;
    padding: 0;
    box-sizing:border-box;
    &:nth-of-type(3){
      border-right:0;
    };
    &:nth-of-type(6){
      border-right:0;
    };
    .back{
      @include rectangle(100%,100%)
      background:url(img/head/4.png);
      border:0;
      &:hover{
      background:none;
    };
      
    }
   }
}
.jineng{
  div{
    cursor:pointer;
    &:hover{
       transform:scale(1.2,1.2);
       transition:transform 0.8s ease;
    };
  }
  
   @include rectangle(100%,auto);
   @include zuoyou;
   position: relative;
   margin-top: 100px;
   background:#fff;
   h2{
    display: block;
    @include rectangle(1070px,145px);
    float:left;
    text-align: center;
    font-size: 24px;
    color:#BABABA;
    font-weight: 600;
    background: #F4F4F4;
    line-height: 100px;
    padding: 0;
    @include zuoyou;
   }
   .title1{
    @include rectangle(500px,200px)
    margin-top: 140px;
    margin-left: 140px;
    float:left;
    p{
      display: block;
      padding:40px 40px;
      font-size: 18px;
      color:#333;
      font-weight: 300;
      line-height: 22px;
    }
   }
   .cube1{
    float:left;
    @include circle(180px);
    margin-left: 100px;
    margin-top: 180px;
   }
   .cube2{
    float:left;
    @include circle(135px);
    margin-left: 60px;
    margin-top: 454px;
   }
   .cube3{
    float:left;
    @include circle(180px);
    margin-left: -97px;
    margin-top: 245px;
   }
   .cube4{
    float:left;
    @include circle(135px);
    margin-left: 118px;
    margin-top: -180px;
   }
   .cube5{
    float:left;
    @include circle(180px);
    margin-left: 315px;
    margin-top: -102px;
   }
   .cube6{
    float:left;
    @include circle(270px);
    margin-left: 90px;
    margin-top: -203px;
   }
   .cube7{
    float:left;
    @include circle(180px);
    margin-left: 20px;
    margin-top: 29px;
   }
   .cube91{
    float:left;
    @include circle(135px);
    margin-left: -870px;
    margin-top: 40px;
    background: #292654;
    color:#6CB4F8;
    font-size: 80px;
    text-align: center;
    line-height: 120px;
    font-weight: 700;
    border:5px solid #6CB4F8;
   }
}
$number:8;
@for $i from 1 through $number {
      .jineng .cube#{$i}{
            background :url(img/head/0#{$i}.png);
            background-size: cover;
            background-repeat: no-repeat;
      }
}
.carousel-indicators {
  bottom: 104px;
}
.copyright1{
  position: relative;
  height: 100px;
  margin-top: 145px;
  background: #0C0C22;
  h3{
    @include rectangle(1070px,145px);
    margin-top: -145px;
    text-align: center;
    line-height: 145px;
    margin-left: 140px;
    margin-bottom: 0;
    color:#BABABA;
  }
  .copyright-content{
    @include zuoyou;
    @include rectangle(1070px,100%);
    li{
      @include rectangle(auto,100%);
      line-height:100px;
      text-align: justify;
      display: inline-block;
      font-size: 18px;
      color:#fff;
      font-weight: 500;
      padding:0;
      margin-left: 100px;
      margin-right: 100px;
      &:nth-of-type(3){
        margin-right: 0px;
      };
      span{
        display: block;
        @include rectangle(100%,100%)
      }
    }
  }
}









